sudo: required
cache: bundler
services:
  - docker
env:
  global:
    - PATH=/opt/local/bin:$PATH
    - TESTOPTS="-v"
    - TINYTDS_UNIT_HOST=localhost
rvm:
  - 2.4.5
  - 2.5.3
  - 2.6.1
  - 2.7.0
before_install:
  - docker info
  - sudo ./test/bin/install-openssl.sh
  - sudo ./test/bin/install-freetds.sh
  - sudo ./test/bin/setup.sh
install:
  - gem install bundler
  - bundle --version
  - bundle install
script:
  - bundle exec rake
