init:
  - SET PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  # - SET PATH=C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0\mingw32\bin
  # - SET PATH=C:\MinGW\msys\1.0\bin;%PATH%
  # - SET PATH=C:\Perl\bin;%PATH%
  # - SET RAKEOPT=-rdevkit
  - SET TESTOPTS='-v'
clone_depth: 5
skip_tags: true
skip_branch_with_pr: true
matrix:
  fast_finish: true
install:
  - ps: Update-AppveyorBuild -Version "$(Get-Content $env:appveyor_build_folder\VERSION).$env:appveyor_build_number"
  - dir C:\mingw-w64\i686-5.3.0-posix-dwarf-rt_v4-rev0
  - perl --version
  - ruby --version
  - gem --version
  - bundle install
  - bundle exec rake build
build: off
branches:
  except:
    - /dev.*/
test_script:
  - timeout /t 4 /nobreak > NUL
  - powershell -File "%APPVEYOR_BUILD_FOLDER%\test\appveyor\dbsetup.ps1"
  - timeout /t 4 /nobreak > NUL
  - ps: Start-Service 'MSSQL$SQL2014'
  - timeout /t 4 /nobreak > NUL
  - sqlcmd -S ".\SQL2014" -U sa -P Password12! -i %APPVEYOR_BUILD_FOLDER%\test\appveyor\dbsetup.sql
  - bundle exec rake TINYTDS_UNIT_HOST_TEST=localhost TINYTDS_UNIT_DATASERVER="localhost\SQL2014" TINYTDS_SCHEMA=sqlserver_2014 TDSVER=7.1
  - bundle exec rake TINYTDS_UNIT_HOST_TEST=localhost TINYTDS_UNIT_DATASERVER="localhost\SQL2014" TINYTDS_SCHEMA=sqlserver_2014
  - ps: Stop-Service 'MSSQL$SQL2014'
  - ps: Start-Service 'MSSQL$SQL2012SP1'
  - timeout /t 4 /nobreak > NUL
  - sqlcmd -S ".\SQL2012SP1" -U sa -P Password12! -i %APPVEYOR_BUILD_FOLDER%\test\appveyor\dbsetup.sql
  - bundle exec rake TINYTDS_UNIT_HOST_TEST=localhost TINYTDS_UNIT_DATASERVER="localhost\SQL2012SP1" TINYTDS_SCHEMA=sqlserver_2014
environment:
  CI_AZURE_HOST:
    secure: 8ydpYysZYKEBKvp6plKlYfepH98/zAuT27FFCaJ9Sss=
  TINYTDS_UNIT_AZURE_PASS:
    secure: fYKSKV4v+36OFQp2nZdX4DfUpgmy5cm0wuR73cgdmEk=
  matrix:
    - RUBY_VERSION: "23-x64"
    # - RUBY_VERSION: "23"
    # - RUBY_VERSION: "22-x64"
    # - RUBY_VERSION: "22"
on_failure:
  - find -name compile.log | xargs cat
